<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">

    <title>{{#block "title"}}{{/block}}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light">
            <div class="container-fluid">
                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                </ul>
                <div>
                    {{#if user}}
                        Welcome back, <a href="/users/profile">{{user.name}}</a>
                        <a href="/users/logout" class="btn btn-primary btn-sm">Logout</a>
                    {{/if}}
                </div>
            </div>
        </nav>
        <section>
            {{#if success_messages}}
            <div class="alert alert-success">
                <ul>
                    {{#each success_messages}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            {{#if error_messages}}
            <div class="alert alert-danger">
                <ul>
                    {{#each error_messages}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}


            {{#block 'content'}}{{/block}}
        </section>
    </div>
</body>

</html>