{{#extends 'base'}}

{{#block "content"}}
    <h1>Welcome to OrganicFood</h1>
            <p>Our company brings the best organic food to Singapore</p>
{{/block}}

{{#block "title"}}
    Welcome to OrganicFood!
{{/block}}

{{/extends}}