<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Redirecting to payment, please wait...
        <a href="{{payment_url}}">If the page does not redirect, please click here</a>
    </h1>
    <script>
        window.location = "{{payment_url}}";
    </script>
</body>
</html>